<div *ngIf="filteredMovies.length !== 0">
  <div class="movie-container">
    <div *ngFor="let m of filteredMovies">
      <app-moviecard [movie]="m"></app-moviecard>
    </div>
  </div>
  <div class="pagination">
    <div class="row">
      <button (click)="newPage(-1)" *ngIf="page !== 1">Prev</button> |
      <button (click)="newPage(+1)">Next</button>
    </div>
    <span> Page: {{ page }}</span>
  </div>
</div>

<div class="centered" *ngIf="filteredMovies.length === 0">
  No Movies found...
</div>
